/* Color Palette: #393E46,#2a4081,#3c5dc0,#addaff,#EEEEEE  */
/* Fonts:
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Cabin', sans-serif;
font-family: 'Raleway', sans-serif; */

/* ===== General Styles ===== */
body {
    background-color: #393E46;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    overflow-x: hidden;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

p {
    color: #EEEEEE;
    margin-bottom: 0;
}

h4 {
    text-align: left;
    padding-left: 3rem;
}

/* ===== Title Section ===== */
#title {
    position: relative;
    top: 2rem;
}

.titleSpace {
    position: relative
}

.titleText {
    color: #addaff;
    font-family: 'Satisfy', cursive;
    font-size: 6rem;
    font-weight: bold;
    padding: 10rem 0 1rem;
}

.titleSub {
    color: #3c5bc0;
    font-family: 'Cabin', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo {
    padding: 0 0 0 1rem;
}

.logoName {
    color: #EEEEEE;
    font-family: 'Satisfy', cursive;
    font-size: 1.7rem;
}

.navbar {
    background-color: #3c5bc0;
    box-shadow: 0rem 0rem 1rem 0.5rem rgba(14, 14, 14, 0.45);
}

.navbar-item {
    padding: 0 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 1.2rem;
    color: #addaff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #2a4081;
}

.pixelBg {
    position: absolute;
    width: 100%;
}

#cloudsBg {
    width: 100%
}

/* ===== About Section ===== */
#about {
    position: relative;
    z-index: 1;
    background-color: #2a4081;
    padding: 1rem;
    box-shadow: 0rem 0rem 1rem 0.5rem rgba(14, 14, 14, 0.45);
}

.profileImg {
    max-width: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
    margin: 3rem 2rem 2rem;
    border: 20px solid #addaff;
    border-radius: 15rem;
}

.subProfileImg {
    max-width: 300px;
    max-height: 300px;
}

.subProfileContainer {
    min-width: 100%;
}

.profileTextContainer {
    width: 90%;
    margin: auto;
}

.profileText {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.profileGreeting {
    color: #addaff;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.link {
    color: #addaff;
}

/* ===== Skills Section ===== */
#skills {
    position: relative;
    background-color:#393E46;
    padding: 2rem;
}

.coin {
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
    max-height: 250px;
    cursor: pointer;
}

.skillTitle {
    color:#addaff;
    font-weight: bold;
    text-align: left;
}

.skillText {
    text-align: left;
}

.skillRow {
    padding: 1.5rem 2rem;
}

.redirectText {
    color: #EEEEEE;
    margin: 2rem;
    font-size: 1.3rem;
}

#work {
    position: relative;
    background-color: #2a4081;
}

/* ===== Footer Section ===== */
#footer {
    background-color: #2a4081;
    padding: 2rem;
    box-shadow: 0rem 0rem 1rem 0.5rem rgba(14, 14, 14, 0.45);
    position: relative;
}

.f-icon {
    margin: 1rem;
    padding: 1rem;
    width: 6rem;
    height: 5rem;
    font-size: 3rem;
    color: #addaff;
}

/* ===== Animations ===== */
.welcome-fades {
    opacity: 0;
    animation: fadeSeq 500ms ease-in both;
}

@keyframes fadeSeq {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-second {
    animation-delay: 1500ms;
}

.fade-third {
    animation-delay: 3000ms;
}

.fade-in {
    opacity: 0;
    transition: opacity 400ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    grid-column: 2/3;
    transform: translateX(-100%);
}

.from-right {
    grid-column: 3/4;
    transform: translateX(100%);
}

.from-left,
.from-right {
    transition: opacity 700ms ease-in, transform 700ms ease-in;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

body .animateLink {
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #addaff 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: #addaff;
    line-height: 1.15em;
    text-decoration: none;
    transition: background-position 0.25s ease-out;
    border-radius: 0.2rem;
}

body .animateLink:hover {
    background-position: -99.99% 0;
    text-decoration: none;
    color: #2a4081;
}

/* ===== Projects Page ===== */
.card-bg {
    background-color: #2a4081;
    padding: 2rem;
    border-radius: 3rem;
    box-shadow: 0.75rem 0.75rem 0.75rem 0.75rem rgba(0, 0, 0, 0.45);
    width: 75%;
    margin: 0 auto 4rem;
}

.card-bg-white {
    background-color: #FFFFFF;
    padding: 2rem 5rem;
    border-radius: 3rem;
    box-shadow: 0.75rem 0.75rem 0.75rem 0.75rem rgba(0, 0, 0, 0.45);
    width: 75%;
    margin: 0 auto 4rem;
}

.card-bg-white p {
    color: #393E46;
    font-size: 1.1rem;
    margin: 1rem 0;
}

.card-A {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-A .post {
    width: 700px;
    height: 400px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    position: relative;
    border-radius: 3rem;
    box-shadow: 0.75rem 0.75rem 0.75rem 0.75rem rgba(0, 0, 0, 0.45);
    margin: 2rem 0 2rem;
}

  
.card-A .post:hover .header_post {
    margin-top: -20px;
}

.card-A .post:hover .body_post {
    height: 50%;
}

@media only screen and (max-width: 1805px) {
    .card-A .post:hover .body_post {
        height: 65%;
    }
}

.card-A .post:hover img {
    transform: translatey(-10px) translatex(-5px) scale(1.05)
 }
  
.card-A .post .header_post {
    width: 100%;
    height: 50%;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}
  
.card-A .post .header_post img {
    max-width: 100%;
    height: auto;
    transition: ease-in-out 600ms;
}

.card-A .post .body_post {
    width: 100%;
    height: 25%;
    background: #FFFFFF;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    cursor: pointer;
}

@media only screen and (max-width: 1805px) {
    .card-A .post .body_post {
        width: 100%;
        height: 40%;
        background: #FFFFFF;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
        -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
        -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
        -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
        transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
        cursor: pointer;
    }
}
  
.card-A .post .body_post .post_content {
    width: 80%;
    height: 80%;
    background: #FFFFFF;
    position: relative;
}

.card-title {
    color: #3c5bc0;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    font-size: 4rem;
}

.card-tags {
    color: #addaff;
}

.projectTitle {
    color:#addaff;
    font-weight: bold;
}

.projectText {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.project-card-container {
    min-width: 100%;
}

.titleImg {
    margin-right: 5rem;
    margin-top: 2rem;
    max-width: 384px;
    max-height: 384px;
}

.project-title-photo {
    width: 90%;
    border-radius: 2rem;
    border: 20px solid #2a4081;
}

.project-photo {
    width: 80%;
    border-radius: 2rem;
    border: 20px solid #2a4081;
}

.project-photo-vertical {
    width: 60%;
    border-radius: 2rem;
    border: 20px solid #2a4081;
}

.project-text-title {
    color: #3c5bc0;
    font-weight: bold;
    font-size: 2.5rem;
}

.project-text-container {
    text-align: left;
}

.title-design-container {
    padding-top: 7rem;
}

.title-design-container-extend {
    min-width: 80%;
}

.title-design-image {
    min-width: 200px;
    min-height: 200px;
    max-width: 250px;
    max-height: 250px;
    position: relative;
    left: 5rem;
}

.title-design-image-right {
    min-width: 200px;
    min-height: 200px;
    max-width: 250px;
    max-height: 250px;
    position: relative;
    right: 7rem;
}

.title-design-image-mirror {
    min-width: 200px;
    min-height: 200px;
    max-width: 250px;
    max-height: 250px;
    position: relative;
    right: 11rem;
    transform: scaleX(-1);
}

.design-title {
    display: inline;
    margin: 0 1rem;
}

.job-title {
    color: #3c5bc0;
    font-weight: bold;
}

.anchor-offset {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.skill-categories {
    width: 100%;
    margin-bottom: 4rem;
}

.skill-page {
    width: 60%;
}

.skill-page li {
    font-size: 1.1rem;
}

.skill-page p, .skill-page a {
    font-size: 1.3rem;
}

li .skill-link {
    font-size: 1.1rem;
}

.contact-page h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.contact-page li {
    font-size: 1.3rem;
}

.contact-page i {
    font-size: 1.7rem;
    margin: 0;
    height: 4rem;
    width: 4rem;
}

.contact-icon-container {
    text-align: center;
}